openapi: 3.0.2
info:
  contact:
    email: support@openweb3.io
    name: API Support
  description: This is a pay service api server.
  title: Pay OpenAPI Documentations
  version: "1.0"
externalDocs: {}
servers:
- description: Pay API Server
  url: https://api.pay.openweb3.io
paths:
  /api/v1/apps/{app_id}/currencies/crypto:
    get:
      description: List available cryptocurrencies
      operationId: v1.currencies.listCrypto
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CryptoCurrency'
                type: array
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List available cryptocurrencies
      tags:
      - currency
  /api/v1/apps/{app_id}/currencies/fiat:
    get:
      description: List available fiat currencies
      operationId: v1.currencies.listFlat
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FiatCurrency'
                type: array
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List available fiat currencies
      tags:
      - currency
  /api/v1/apps/{app_id}/currencies/rate:
    get:
      description: Get exchange rate
      operationId: v1.currencies.retrieveRate
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - description: From currency
        explode: true
        in: query
        name: fromCurrency
        required: true
        schema:
          type: string
        style: form
      - description: To currency
        explode: true
        in: query
        name: toCurrency
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rate'
                type: array
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Get exchange rate
      tags:
      - currency
  /api/v1/apps/{app_id}/endpoints:
    get:
      description: List webhook endpoints
      operationId: v1.endpoints.list
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPage-Webhook'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List webhook endpoints
      tags:
      - webhook
    post:
      description: Create a webhook endpoint
      operationId: v1.endpoints.create
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhook'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Create a webhook endpoint
      tags:
      - webhook
  /api/v1/apps/{app_id}/endpoints/{endpoint_id}:
    delete:
      description: Delete a webhook endpoint
      operationId: v1.endpoints.delete
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - description: Endpoint ID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Delete a webhook endpoint
      tags:
      - webhook
    get:
      description: Retrieve a webhook endpoint
      operationId: v1.endpoints.retrieve
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - description: Endpoint ID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Retrieve a webhook endpoint
      tags:
      - webhook
    patch:
      description: Update a webhook endpoint
      operationId: v1.endpoints.update
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - description: Endpoint ID
        explode: false
        in: path
        name: endpoint_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhook'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Update a webhook endpoint
      tags:
      - webhook
  /api/v1/apps/{app_id}/payments:
    get:
      description: List Payments
      operationId: v1.Payments.list
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: payment_method
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page-Payment'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List Payments
      tags:
      - Payment
    post:
      description: Create an Payment
      operationId: v1.Payments.create
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Create an Payment
      tags:
      - Payment
  /api/v1/apps/{app_id}/payments/{payment_id}:
    get:
      description: Retrieve an Payment
      operationId: v1.Payments.retrieve
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - description: Payment ID / UID
        explode: false
        in: path
        name: payment_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Retrieve an Payment
      tags:
      - Payment
  /api/v1/apps/{app_id}/payouts:
    get:
      description: List payouts
      operationId: v1.payouts.list
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPage-Payout'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List payouts
      tags:
      - payout
    post:
      description: Payout to address
      operationId: v1.payouts.create
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayout'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Payout to address
      tags:
      - payout
  /api/v1/apps/{app_id}/payouts/{payout_id}:
    get:
      description: Retrieve a payout
      operationId: v1.payouts.retrieve
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - description: Payout ID
        explode: false
        in: path
        name: payout_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Retrieve a payout
      tags:
      - payout
  /api/v1/apps/{app_id}/refunds:
    get:
      description: List refunds
      operationId: v1.refunds.list
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPage-Refund'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: List refunds
      tags:
      - refund
    post:
      description: Refund payment
      operationId: v1.refunds.create
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefund'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Refund payment
      tags:
      - refund
  /api/v1/apps/{app_id}/refunds/{refund_id}:
    get:
      description: Retrieve a refund
      operationId: v1.refunds.retrieve
      parameters:
      - description: App ID
        explode: false
        in: path
        name: app_id
        required: true
        schema:
          type: string
        style: simple
      - description: Refund ID
        explode: false
        in: path
        name: refund_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
          description: OK
      security:
      - ApiKeyAuth: []
      summary: Retrieve a refund
      tags:
      - refund
components:
  schemas:
    CreatePaymentRequest:
      example:
        note: note
        uid: uid
        amount: amount
        metadata:
          key: ""
        provider: provider
        extra:
          key: ""
        payment_provider: payment_provider
        currency: currency
        expiration: 0
        userId: userId
        payment_method: payment_method
      properties:
        amount:
          description: Amount (Integer)
          type: string
        currency:
          description: Currency
          type: string
        expiration:
          description: Expiration
          type: integer
        extra:
          additionalProperties: {}
          description: Extra
          nullable: true
          type: object
        metadata:
          additionalProperties: {}
          description: Metadata
          nullable: true
          type: object
        note:
          description: Note
          type: string
        payment_method:
          description: PaymentMethod
          type: string
        payment_provider:
          description: PaymentProvider
          type: string
        provider:
          description: Provider
          type: string
        uid:
          description: Unique ID
          type: string
        userId:
          description: User ID
          type: string
      required:
      - amount
      - currency
      - payment_method
      - payment_provider
      - provider
      type: object
    CreatePayout:
      example:
        note: note
        amount: amount
        currency: currency
        toAddress: toAddress
        userId: userId
        network: network
      properties:
        amount:
          description: Amount (Integer)
          type: string
        currency:
          description: Currency Code
          type: string
        network:
          description: Currency Network
          type: string
        note:
          description: Payout notes
          type: string
        toAddress:
          description: To Address
          type: string
        userId:
          description: User ID
          type: string
      type: object
    CreateRefund:
      example:
        note: note
        amount: amount
        payment_id: payment_id
        to_address: to_address
      properties:
        amount:
          description: Refund amount (Integer)
          type: string
        note:
          description: Refund note
          type: string
        payment_id:
          description: Payment ID
          type: string
        to_address:
          description: To Address
          type: string
      type: object
    CreateWebhook:
      example:
        headers:
          key: headers
        uid: uid
        metadata:
          key: ""
        description: description
        disabled: true
        eventTypes:
        - eventTypes
        - eventTypes
        url: url
      properties:
        description:
          description: The description of the webhook
          type: string
        disabled:
          description: The disabled of the webhook
          type: boolean
        eventTypes:
          description: The event types of the webhook
          items:
            type: string
          type: array
          uniqueItems: false
        headers:
          additionalProperties:
            type: string
          description: The headers of the webhook
          nullable: true
          type: object
        metadata:
          additionalProperties: {}
          description: The metadata of the webhook
          nullable: true
          type: object
        uid:
          description: The uid of the webhook
          type: string
        url:
          description: The url of the webhook
          type: string
      required:
      - eventTypes
      - url
      type: object
    CryptoCurrency:
      example:
        minWithdrawAmount: minWithdrawAmount
        maxWithdrawAmount: maxWithdrawAmount
        code: code
        decimals: 0
        precision: 6
        minDepositAmount: minDepositAmount
        name: name
        networks:
        - code: code
          canTransfer: true
          canWithdraw: true
          name: name
          canDeposit: true
          network: network
        - code: code
          canTransfer: true
          canWithdraw: true
          name: name
          canDeposit: true
          network: network
      properties:
        code:
          description: Currency code
          type: string
        decimals:
          description: Decimals
          type: integer
        maxWithdrawAmount:
          description: Max Withdraw Amount (Integer)
          type: string
        minDepositAmount:
          description: Min Deposit Amount (Integer)
          type: string
        minWithdrawAmount:
          description: Min Withdraw Amount (Integer)
          type: string
        name:
          description: Currency name
          type: string
        networks:
          description: Networks
          items:
            $ref: '#/components/schemas/CryptoCurrencyNetwork'
          type: array
          uniqueItems: false
        precision:
          description: Precision
          type: integer
      required:
      - code
      - decimals
      - maxWithdrawAmount
      - minDepositAmount
      - minWithdrawAmount
      - name
      - networks
      - precision
      type: object
    CryptoCurrencyNetwork:
      example:
        code: code
        canTransfer: true
        canWithdraw: true
        name: name
        canDeposit: true
        network: network
      properties:
        canDeposit:
          description: Can Deposit
          type: boolean
        canTransfer:
          description: Can Transfer
          type: boolean
        canWithdraw:
          description: Can Withdraw
          type: boolean
        code:
          description: Network code
          type: string
        name:
          description: Network display name
          type: string
        network:
          description: Network name
          type: string
      required:
      - canDeposit
      - canTransfer
      - canWithdraw
      - code
      - name
      - network
      type: object
    CursorPage-Payout:
      example:
        prev_cursor: prev_cursor
        next_cursor: next_cursor
        items:
        - note: note
          amount: amount
          completedAt: completedAt
          toAddress: toAddress
          userId: userId
          network: network
          createdAt: createdAt
          failedAt: failedAt
          currency: currency
          fromAddress: fromAddress
          id: id
          failedReason: failedReason
          status: status
          updatedAt: updatedAt
        - note: note
          amount: amount
          completedAt: completedAt
          toAddress: toAddress
          userId: userId
          network: network
          createdAt: createdAt
          failedAt: failedAt
          currency: currency
          fromAddress: fromAddress
          id: id
          failedReason: failedReason
          status: status
          updatedAt: updatedAt
      properties:
        items:
          items:
            $ref: '#/components/schemas/Payout'
          type: array
          uniqueItems: false
        next_cursor:
          type: string
        prev_cursor:
          type: string
      type: object
    CursorPage-Refund:
      example:
        prev_cursor: prev_cursor
        next_cursor: next_cursor
        items:
        - completed_at: completed_at
          note: note
          amount: amount
          updated_at: updated_at
          payment_id: payment_id
          created_at: created_at
          to_address: to_address
          failed_at: failed_at
          id: id
          failed_reason: failed_reason
          status: status
        - completed_at: completed_at
          note: note
          amount: amount
          updated_at: updated_at
          payment_id: payment_id
          created_at: created_at
          to_address: to_address
          failed_at: failed_at
          id: id
          failed_reason: failed_reason
          status: status
      properties:
        items:
          items:
            $ref: '#/components/schemas/Refund'
          type: array
          uniqueItems: false
        next_cursor:
          type: string
        prev_cursor:
          type: string
      type: object
    CursorPage-Webhook:
      example:
        prev_cursor: prev_cursor
        next_cursor: next_cursor
        items:
        - filter: filter
          createdAt: 2000-01-23T04:56:07.000+00:00
          headers:
            key: headers
          uid: uid
          metadata:
            key: ""
          description: description
          disabled: true
          id: id
          eventTypes:
          - eventTypes
          - eventTypes
          url: url
        - filter: filter
          createdAt: 2000-01-23T04:56:07.000+00:00
          headers:
            key: headers
          uid: uid
          metadata:
            key: ""
          description: description
          disabled: true
          id: id
          eventTypes:
          - eventTypes
          - eventTypes
          url: url
      properties:
        items:
          items:
            $ref: '#/components/schemas/Webhook'
          type: array
          uniqueItems: false
        next_cursor:
          type: string
        prev_cursor:
          type: string
      type: object
    FiatCurrency:
      example:
        code: code
        name: name
      properties:
        code:
          description: Currency Code
          type: string
        name:
          description: Currency Name
          type: string
      required:
      - code
      - name
      type: object
    Page-Payment:
      example:
        prev_cursor: prev_cursor
        next_cursor: next_cursor
        total: 6
        data:
        - note: note
          amount: amount
          metadata:
            key: ""
          credentials:
            key: ""
          created_at: 2000-01-23T04:56:07.000+00:00
          failed_message: failed_message
          uid: uid
          updated_at: 2000-01-23T04:56:07.000+00:00
          user_id: user_id
          extra:
            key: ""
          payment_provider: payment_provider
          currency: currency
          details:
            key: ""
          expiration: 0
          id: id
          payment_method: payment_method
          status: status
        - note: note
          amount: amount
          metadata:
            key: ""
          credentials:
            key: ""
          created_at: 2000-01-23T04:56:07.000+00:00
          failed_message: failed_message
          uid: uid
          updated_at: 2000-01-23T04:56:07.000+00:00
          user_id: user_id
          extra:
            key: ""
          payment_provider: payment_provider
          currency: currency
          details:
            key: ""
          expiration: 0
          id: id
          payment_method: payment_method
          status: status
        hasPrev: true
        hasNext: true
      properties:
        data:
          items:
            $ref: '#/components/schemas/Payment'
          type: array
        hasNext:
          type: boolean
        hasPrev:
          type: boolean
        next_cursor:
          type: string
        prev_cursor:
          type: string
        total:
          type: integer
      type: object
    Payment:
      example:
        note: note
        amount: amount
        metadata:
          key: ""
        credentials:
          key: ""
        created_at: 2000-01-23T04:56:07.000+00:00
        failed_message: failed_message
        uid: uid
        updated_at: 2000-01-23T04:56:07.000+00:00
        user_id: user_id
        extra:
          key: ""
        payment_provider: payment_provider
        currency: currency
        details:
          key: ""
        expiration: 0
        id: id
        payment_method: payment_method
        status: status
      properties:
        amount:
          type: string
        created_at:
          format: date-time
          type: string
        credentials:
          additionalProperties: {}
          type: object
        currency:
          type: string
        details:
          additionalProperties: {}
          nullable: true
          type: object
        expiration:
          type: integer
        extra:
          additionalProperties: {}
          nullable: true
          type: object
        failed_message:
          type: string
        id:
          type: string
        metadata:
          additionalProperties: {}
          nullable: true
          type: object
        note:
          type: string
        payment_method:
          type: string
        payment_provider:
          type: string
        status:
          type: string
          x-enum-varnames:
          - PaymentStatusFailed
          - PaymentStatusPending
          - PaymentStatusExpired
          - PaymentStatusPaid
          - PaymentStatusCompleted
        uid:
          type: string
        updated_at:
          format: date-time
          type: string
        user_id:
          type: string
      required:
      - amount
      - created_at
      - credentials
      - currency
      - id
      - note
      - payment_method
      - payment_provider
      - status
      - updated_at
      type: object
    PaymentStatus:
      type: string
      x-enum-varnames:
      - PaymentStatusFailed
      - PaymentStatusPending
      - PaymentStatusExpired
      - PaymentStatusPaid
      - PaymentStatusCompleted
    Payout:
      example:
        note: note
        amount: amount
        completedAt: completedAt
        toAddress: toAddress
        userId: userId
        network: network
        createdAt: createdAt
        failedAt: failedAt
        currency: currency
        fromAddress: fromAddress
        id: id
        failedReason: failedReason
        status: status
        updatedAt: updatedAt
      properties:
        amount:
          description: Amount (Integer)
          type: string
        completedAt:
          description: Completed at
          type: string
        createdAt:
          description: Created at
          type: string
        currency:
          description: Currency Code
          type: string
        failedAt:
          description: Failed at
          type: string
        failedReason:
          description: Failed reason
          type: string
        fromAddress:
          description: From Address
          type: string
        id:
          type: string
        network:
          description: Currency Network
          type: string
        note:
          description: Payout note
          type: string
        status:
          description: Payout status
          type: string
        toAddress:
          description: To Address
          type: string
        updatedAt:
          description: Updated at
          type: string
        userId:
          description: User ID
          type: string
      type: object
    Rate:
      example:
        rate: rate
        toCurrency: toCurrency
        fromCurrency: fromCurrency
      properties:
        fromCurrency:
          description: From currency code
          type: string
        rate:
          description: Exchange Rate
          type: string
        toCurrency:
          description: To currency code
          type: string
      required:
      - fromCurrency
      - rate
      - toCurrency
      type: object
    Refund:
      example:
        completed_at: completed_at
        note: note
        amount: amount
        updated_at: updated_at
        payment_id: payment_id
        created_at: created_at
        to_address: to_address
        failed_at: failed_at
        id: id
        failed_reason: failed_reason
        status: status
      properties:
        amount:
          description: Refund amount (Integer)
          type: string
        completed_at:
          description: Completed at
          type: string
        created_at:
          description: Created at
          type: string
        failed_at:
          description: Failed at
          type: string
        failed_reason:
          description: Failed reason
          type: string
        id:
          type: string
        note:
          description: Refund note
          type: string
        payment_id:
          description: Payment ID
          type: string
        status:
          description: Refund status
          type: string
        to_address:
          description: To Address
          type: string
        updated_at:
          description: Updated at
          type: string
      type: object
    UpdateWebhook:
      example:
        headers:
          key: headers
        uid: uid
        metadata:
          key: ""
        description: description
        disabled: true
        eventTypes:
        - eventTypes
        - eventTypes
        url: url
      properties:
        description:
          type: string
        disabled:
          type: boolean
        eventTypes:
          items:
            type: string
          type: array
          uniqueItems: false
        headers:
          additionalProperties:
            type: string
          nullable: true
          type: object
        metadata:
          additionalProperties: {}
          nullable: true
          type: object
        uid:
          type: string
        url:
          type: string
      required:
      - eventTypes
      type: object
    Webhook:
      example:
        filter: filter
        createdAt: 2000-01-23T04:56:07.000+00:00
        headers:
          key: headers
        uid: uid
        metadata:
          key: ""
        description: description
        disabled: true
        id: id
        eventTypes:
        - eventTypes
        - eventTypes
        url: url
      properties:
        createdAt:
          format: date-time
          type: string
        description:
          type: string
        disabled:
          type: boolean
        eventTypes:
          items:
            type: string
          type: array
          uniqueItems: false
        filter:
          type: string
        headers:
          additionalProperties:
            type: string
          nullable: true
          type: object
        id:
          type: string
        metadata:
          additionalProperties: {}
          nullable: true
          type: object
        uid:
          type: string
        url:
          type: string
      required:
      - createdAt
      - description
      - eventTypes
      - filter
      - id
      - url
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
